:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);

  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: aqua;
  padding: 90px 200px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}

.grid-kiri div,
.grid-kanan div {
  border: 1px solid;
  border-radius: 10px;
  padding: 1.5rem;
}

.container .grid-kiri {
  background-color: rgb(238, 255, 131);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  border-radius: 10px;
}
.container .grid-kanan {
  background-color: rgb(152, 255, 173);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1.25fr 1fr 1fr;
  grid-template-areas: 
  'kanan-satu kanan-satu kanan-dua'
  'kanan-tiga kanan-empat kanan-dua'
  'kanan-lima kanan-enam kanan-enam'
  ;
  gap: 2rem;
  border-radius: 10px;
}
.container .grid-kanan .kanan-satu {
  grid-area: kanan-satu;
}
.container .grid-kanan .kanan-dua {
  grid-area: kanan-dua;
}
.container .grid-kanan .kanan-tiga {
  grid-area: kanan-tiga;
}
.container .grid-kanan .kanan-empat {
  grid-area: kanan-empat;
}
.container .grid-kanan .kanan-lima {
  grid-area: kanan-lima;
}
.container .grid-kanan .kanan-enam {
  grid-area: kanan-enam;
}